<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
 	  data-sly-call="${clientlib.css @ categories='dc.components.contenttile'}">
</sly>



Content tile
<div class="cmp-content-tile"
	data-sly-use.tile="com.digicloud.aem.core.models.Tile">
	<h1 class="title">${tile.heading}</h1>
	<div class="desc">
		<p>${tile.des}</p>
	</div>
	<img class="image" src="${tile.fileReference}"></img>
</div>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
 	  data-sly-call="${clientlib.js @ categories='dc.components.contenttile'}">
</sly>



